/* Default Properties */

#btIMG-Cont {
  background: transparent;
  transition: 0.2s ease-in-out;
}

#btSend-Cont {
  background: var(--bs-CR-orange);
  transition: 0.2s ease-in-out;
}

#btSend {
  color: var(--bs-gray-dark);
  transition: 0.2s ease-in-out;
}

/* Hover Properties */

#btSend-Cont:hover {
  background: var(--bs-CR-black);
}

#btSend-Cont:hover #btSend {
  color: #929292;
}

/* Links */

a {
  color: #2e3e43;
}

a:hover {
  color: #4dc0e3;
}

/* Botón Iniciar Chat */

#AceptarChat {
  color:var(--bs-CR-white);
}

#AceptarChat:hover {
  color:#C0601C;
}

/* Nav Bar */

.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF;
}

.nav-item:hover span {
  color:#C0601C;
  transition: 0.2s ease-in-out;
}