/* Info */

svg {
  color: #072934;
}

svg:hover {
  color: #4dc0e3;
}

th, td {
      border: 1px solid black; /* Adds lines around cells */
      padding: 8px;
      text-align: left;
    }

    
/* Links */

a {
  color: #2e3e43;
}

a:hover {
  color: #4dc0e3;
}

/* Nav Bar */

.navbar-dark .navbar-nav .nav-link {
  color: #FFFFFF;
}

.nav-item:hover span {
  color: var(--bs-CR-orange);
  transition: 0.2s ease-in-out;
}

/* Drag & Drop */
.dragBtn {
  color: var(--bs-CR-gray);
  background-color: transparent;
  transition: all 0.3s ease;
}

.dragBtn:hover {
  cursor: grab;
  background-color: var(--bs-CR-gray-dark);
}

.dragBtn.dragging {cursor: grabbing;}