@font-face {
	font-family: 'LineAwesome';
	src: url(../../assets/fonts/LineAwesome-dbd5a1c4eb110dae3bdf42fdecb49915.eot?v=1.1.) format('embedded-opentype'),
	url(../../assets/fonts/LineAwesome-dbd5a1c4eb110dae3bdf42fdecb49915.eot?%3Fv=1.1.) format('embedded-opentype'),
	url(../../assets/fonts/LineAwesome-fb927551afb6dfa82495fa3c7ca4d13b.woff2?v=1.1.) format('woff2'),
	url(../../assets/fonts/LineAwesome-0accaa2c819c372191399001e903858e.woff?v=1.1.) format('woff'),
	url(../../assets/fonts/LineAwesome-18b0f02461ea0ecbeaa693bfc378098a.ttf?v=1.1.) format('truetype'),
	url(../../assets/fonts/LineAwesome-652dd777c5c4541f9308caa4cc1687cd.svg?v=1.1.) format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}