/* Font: Hedliner-Sans-Mono-Font */
@font-face {
  font-family: 'hedliner';
  src: url('../fonts/hedliner-webfont.woff') format('woff'),
  url('../fonts/hedliner-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Font: IBM League Spartan */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* Font: IBM Plex Sans */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

img {
  border-radius : 13px;
}

* {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
}
/* Some Chat Colors */

#Chat-BG {
  background: linear-gradient(rgb(from var(--bs-CR-white) r g b / 0.4) 82%, rgb(from var(--bs-CR-black) r g b / 0.3) 90%, rgb(from var(--bs-CR-black) r g b / 1) 105%);
}

#Header-BG {background: linear-gradient(160deg, var(--bs-CR-black) 0%, #2f3034 40%, var(--bs-CR-orange) 100%);}
#Bot-Name{color: #aaa7aa;}
#Bot-Status {color: var(--bs-CR-orange);}

#EmptyF-BG {background: linear-gradient(160deg, var(--bs-CR-gray-dark) 10%, var(--bs-CR-black) 70%);}

#EmptyF-BG p:first-child {color: #aaa7aa;}
#EmptyF-BG p:nth-child(2) {color: var(--bs-CR-orange-2);}
#EmptyF-BG img {filter: invert(70%); -webkit-filter: invert(70%);}
#EmptyF-BG p:nth-child(4) {color: var(--bs-CR-white);}

#TypeB-BG {background: linear-gradient(165deg, #4b4b4b 50%, #2f3034 75%, var(--bs-CR-black) 100%);}

#btIMG, #btSend-Icon{
  fill: var(--bs-CR-orange);
  color: var(--bs-CR-orange);
}

#btSend-Cont {background: linear-gradient(160deg, var(--bs-CR-black) 40%, var(--bs-CR-orange) 130%);}

#Copyright-Legend {color: var(--bs-CR-white)}

/* Message Bubbles */
.user-msg-card {
  max-width: 80%;
  border-radius: 15px;
  border-bottom-right-radius: 0;
  background: linear-gradient(0deg, var(--bs-gray-dark) -30%, var(--bs-CR-gray) 50%);
  /* background: linear-gradient(0deg, var(--bs-gray-500) -20%, var(--bs-CR-white) 50%); */
  /* background: var(--bs-CR-white); */
}
.user-msg-text {
  color: var(--bs-CR-white);
}
.user-msg-date {
  color : var(--bs-gray-500);
  font-family: "League Spartan";
}

.bot-msg-card {
  max-width: 75%;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  background: linear-gradient(0deg, var(--bs-CR-orange) -30%, var(--bs-CR-orange-2) 50%);
  /* background: var(--bs-CR-orange); */
}
.bot-msg-text {
  font-size: 18px;
  line-height: 1.5;
  color: var(--bs-black);
}
.bot-msg-date {
  color: var(--bs-gray-700);
  font-family: "League Spartan";
}
#Typing-Msg-bubble {background: linear-gradient(0deg, var(--bs-CR-orange) -30%, var(--bs-CR-orange-2) 50%);}

/* Feed Scrollbar */

#Feed-BG::-webkit-scrollbar {
  width: 10px;
}

#Feed-BG::-webkit-scrollbar-track {
  background: rgba(46,46,46,0.72);
  border-radius : 13px;
}

#Feed-BG::-webkit-scrollbar-thumb {
  background: #797979;
  border-radius : 13px;
}

/* Type-Box Scrollbar */

#Message-Input::-webkit-scrollbar {
  width: 15px;
}

#Message-Input::-webkit-scrollbar-track {
  background: #aaa7aa;
  border-radius : 13px;
}

#Message-Input::-webkit-scrollbar-thumb {
  background: var(--bs-CR-black);
  border-radius : 13px;
}
