/* Font: Hedliner-Sans-Mono-Font */
@font-face {
  font-family: 'hedliner';
  src: url('../fonts/hedliner-webfont.woff') format('woff'),
  url('../fonts/hedliner-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Font: IBM League Spartan */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* Font: IBM Plex Sans */
@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

img {
  border-radius : 13px;
}

* {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Chat Color filters */
#Chat-BG{
  backdrop-filter: opacity(0.45) brightness(178%) contrast(200%) invert(100%);
  -webkit-backdrop-filter: opacity(0.45) brightness(178%) contrast(200%) invert(100%);
}

body {
  /* backdrop-filter: brightness(167%) contrast(51%) invert(15%);
  -webkit-backdrop-filter: brightness(167%) contrast(51%) invert(15%); */
}

/* Some Chat Colors */

#Chat-BG {background: linear-gradient(rgb(from var(--bs-CR-white) r g b / 0.4) 60%, var(--bs-CR-gray-dark) 110%);}

#Header-BG {background: linear-gradient(160deg, var(--bs-CR-black) 0%, #2f3034 40%, var(--bs-CR-orange) 100%);}
#Bot-Name{color: #aaa7aa;}
#Bot-Status {color: var(--bs-CR-orange);}

#EmptyF-BG {background: linear-gradient(160deg, var(--bs-CR-gray-dark) 10%, var(--bs-CR-black) 70%);}

#EmptyF-BG p:first-child {color: #aaa7aa;}
#EmptyF-BG p:nth-child(2) {color: #fff;}
#EmptyF-BG img {filter: invert(70%); -webkit-filter: invert(70%);}
#EmptyF-BG p:nth-child(4) {color: var(--bs-CR-orange);}

#Typing-Msg-bubble {background: var(--bs-CR-orange);}
/* #Typing-Msg-bubble {background: linear-gradient(160deg, var(--bs-CR-black) -50%, var(--bs-CR-orange) 100%);} */

#TypeB-BG {background: linear-gradient(165deg, #4b4b4b 50%, #2f3034 65%, var(--bs-CR-black) 100%);}

#btIMG, #btSend-Icon{
  fill: var(--bs-CR-orange);
  color: var(--bs-CR-orange);
}

#Copyright-Legend {color: var(--bs-CR-white)}

/* Feed Scrollbar */

#Feed-BG::-webkit-scrollbar {
  width: 10px;
}

#Feed-BG::-webkit-scrollbar-track {
  background: rgba(46,46,46,0.72);
  border-radius : 13px;
}

#Feed-BG::-webkit-scrollbar-thumb {
  background: #797979;
  border-radius : 13px;
}

/* Type-Box Scrollbar */

#Message-Input::-webkit-scrollbar {
  width: 15px;
}

#Message-Input::-webkit-scrollbar-track {
  background: #aaa7aa;
  border-radius : 13px;
}

#Message-Input::-webkit-scrollbar-thumb {
  background: var(--bs-CR-gray);
  border-radius : 13px;
}
