/* Default Properties */

#btIMG-Cont, #btSend-Cont {
  transition: 0.2s ease-in-out;
}

/* Hover Properties */

#btIMG-Cont:hover, #btSend-Cont:hover {
  background: var(--bs-CR-orange-2);
}

#btIMG-Cont:hover #btIMG, #btSend-Cont:hover #btSend-Icon {
  fill: var(--bs-CR-black);
  color: var(--bs-CR-black);
}

/* Links */

a {
  color: #2e3e43;
}

a:hover {
  color: #4dc0e3;
}

/* Botón Iniciar Chat */
#AceptarChat {
  color:var(--bs-CR-white);
}

#AceptarChat:hover {
  color:var(--bs-CR-orange);
}