/* Default Properties */

#btIMG-Cont, #btSend-Cont {
  transition: 0.2s ease-in-out;
}

/* Hover Properties */

#btIMG-Cont:hover, #btSend-Cont:hover {
  background: var(--bs-CR-orange);
  
}

#btIMG-Cont:hover #btIMG, #btSend-Cont:hover #btSend-Icon {
  fill: var(--bs-CR-black);
  color: var(--bs-CR-black);
}

/* Links */

a {
  color: #2e3e43;
}

a:hover {
  color: #4dc0e3;
}

/* Botón Iniciar Chat */
#AceptarChat {
  color:var(--bs-CR-white);
}

#AceptarChat:hover {
  color:var(--bs-CR-orange);
}

.btn{
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}
.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  transition: left 0.5s;
}
.btn:hover::before {
  left: 100%;
}