img {
  border-radius : 13px;
}

/* Feed Scrollbar */

#Feed-BG::-webkit-scrollbar {
  width: 10px;
}

#Feed-BG::-webkit-scrollbar-track {
  background: rgba(46,46,46,0.72);
  border-radius : 13px;
}

#Feed-BG::-webkit-scrollbar-thumb {
  background: #797979;
  border-radius : 13px;
}

/* Type-Box Scrollbar */

#Message-Input::-webkit-scrollbar {
  width: 15px;
}

#Message-Input::-webkit-scrollbar-track {
  background: #aaa7aa;
  border-radius : 13px;
}

#Message-Input::-webkit-scrollbar-thumb {
  background: var(--bs-CR-gray);
  border-radius : 13px;
}
