/* Default Properties */

#btIMG-Cont {
  background: transparent;
  transition: 0.2s ease-in-out;
}

#btSend-Cont {
  background: var(--bs-CR-orange);
  transition: 0.2s ease-in-out;
}

#btSend {
  color: var(--bs-gray-dark);
  transition: 0.2s ease-in-out;
}

/* Hover Properties */

#btSend-Cont:hover {
  background: var(--bs-CR-black);
}

#btSend-Cont:hover #btSend {
  color: #929292;
}
