/* Font: Hedliner-Sans-Mono-Font */
@font-face {
  font-family: 'hedliner';
  src: url('../../assets/fonts/hedliner-webfont.woff') format('woff'),
  url('../../assets/fonts/hedliner-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.list-group {
  --bs-list-group-color: var(--bs-body-color);
  --bs-list-group-bg: var(--bs-body-bg);
  --bs-list-group-border-color: var(--bs-border-color);
  --bs-list-group-border-width: var(--bs-border-width);
  --bs-list-group-border-radius: var(--bs-border-radius);
  --bs-list-group-item-padding-x: 1rem;
  --bs-list-group-item-padding-y: 0.5rem;
  --bs-list-group-action-color: var(--bs-secondary-color);
  --bs-list-group-action-hover-color: var(--bs-emphasis-color);
  --bs-list-group-action-hover-bg: var(--bs-tertiary-bg);
  --bs-list-group-action-active-color: var(--bs-CR-gray);
  --bs-list-group-action-active-bg: var(--bs-CR-orange);
  --bs-list-group-disabled-color: var(--bs-secondary-color);
  --bs-list-group-disabled-bg: var(--bs-body-bg);
  --bs-list-group-active-color: var(--bs-CR-gray);
  --bs-list-group-active-bg: var(--bs-CR-orange);
  --bs-list-group-active-border-color: #072934;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: var(--bs-list-group-border-radius);
}

.card {
  background-color: #f0f0f0;
}

.form-control {
  font-family: 'hedliner', sans-serif; color: #072934;
}

li::marker {
    color: var(--bs-CR-orange);
}

th {
  background-color: var(--bs-CR-orange);
  color: white;
  font-family: 'hedliner', sans-serif;
}

select{
  border-radius: 5px;
  padding: 5px;
}


.Content-Divs h1,
.Content-Divs h2,
.Content-Divs h3,
.Content-Divs h4,
.Content-Divs h5,
.Content-Divs h6 {
  position: relative;
  padding-left: 15px;
  font-weight: bold;
}

.Content-Divs h1::before,
.Content-Divs h2::before,
.Content-Divs h3::before,
.Content-Divs h4::before,
.Content-Divs h5::before,
.Content-Divs h6::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 60%; /* Ajustá según se vea mejor */
  background-color: var(--bs-CR-orange);
  border-radius: 2px;
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

th, td {
  border: 1px solid black; /* Adds lines around cells */
  padding: 8px;
  text-align: left;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .slider {

}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--bs-CR-orange);
}

input:focus + .slider {

}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

:root {
  --primary-bg-opacity: 1; /* Define una variable CSS para la opacidad */
}

.bg-primary {
  background-color: rgba(192, 96, 28, var(--primary-bg-opacity)) !important;
}

@media (max-width: 720px) {
  img {
      display: none;
  }
}

.list-group-item {
  background-color: #f5f5f5;
}

/* Media Query para que desaparezca el img si el display no es hd+ */
@media (max-width: 1080px) {
  img{
    display: none;
  }
}

.list-group-item.active {
  z-index: 2;
  color: var(--bs-list-group-active-color);
  background-color: var(--bs-CR-orange);
  border-color: var(--bs-list-group-active-border-color);
}


@media (max-width: 1080px) {
    img {
        display: none;
    }
}


#overlay {
  position: fixed; /* Posiciona el overlay de manera fija */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px); /* Filtro de desenfoque */ 
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  z-index: 1000; /* Asegura que el overlay esté por encima del contenido */
  display: none; /* Ocultar por defecto */
}

#overlayContent {
  background: var(--bs-CR-white);
  padding: 20px;
  border-radius: 5px;

  width: 50%;
  max-width: 600px; /* Opcional: limita el ancho máximo */
  box-sizing: border-box; /* Incluye el padding en el ancho total */
}

@media (max-width: 768px) {
  #overlayContent {
      width: 90%;
  }

  #overlayContent p {
      font-size: 1rem;
  }
}